.screen-cad{

    width: 100%;
    padding:50px;
}
.fab-bottom{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;

}
.title-screen{


    font-size: 20px;
    text-align: center;
    width: 93%;
    background-color: var(--cor-secundaria);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-end-end-radius: 10px;
}

.screen-paper{
    max-height: 900px;
    width: 91%;
    padding: 20px;
    margin-bottom: 20px;
}