@import url("../../Var.css");
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-screen {
    display: flex;
    flex-direction: row;
    height: 100vh;

}



.left-screen {
    color: #d1ffd0;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('/img/background_login.avif');
    background-size: cover; 
    background-position: center;

}
.right-screen {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #d1ffd0;
}
.just-in-time{
    margin: 10px;
    font-weight: bolder;
}
.ti-avancado{
    font-size: 20px;
    color:white;
}
.box-login{
    display: flex;
    flex-direction: column;
    padding: 60px 30px 60px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(4, 75, 28, 0.5);
    gap : 20px;
   
}

.box-login input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d1ffd0;
}
.box-login button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d1ffd0;
    background-color: #d1ffd0;
    color: #549b86;
    font-weight: bold;
}
.box-login button:hover{
    background-color:#549b86;
    color:#d1ffd0;
}
.box-login input:focus{
   border-color: #549b86;
    outline: none ;
}
.icon-person{
    font-size: 50px;
    color: var(--cor-secundaria);

    text-align: center;
}