@import url("../../Var.css");
.main-screen{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    width: 100%;
    height: 100%;

}
.content-mutable{
    margin: 20px;
}
.right-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
    background-color: var(--cor-primaria);
    row-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.right-menu button{
    
    background-color: var(--cor-secundaria);
    height: 70px;
    width: 90px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0);

}
.right-menu button:hover{
    background-color: var(--cor-secundaria-hover);
    margin-left: 5px;
}
.right-menu button:active{
    background-color: var(--cor-secundaria-hover);
    box-shadow: none;
}
.label-button{
    font-size: 12px;
    
}

.barra-pesquisa{
    margin: 20px;

    width: 90%;
}
.button-limpar{
    display: flex;
    width: 100%;
    justify-content: end;
}